* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 4px;
    /* Largura da barra */
}

::-webkit-scrollbar-track {
    background: #000000;
    /* Cor de fundo */
}

::-webkit-scrollbar-thumb {
    background: #b6b6b6b3;
    /* Cor da barra arrastável */
    border-radius: 10px;
    /* Cantos arredondados */
    cursor: pointer;
}

/* Efeito ao passar o mouse */
::-webkit-scrollbar-thumb:active {
    background: #ffffff;
    cursor: grab;
}


html {
    scroll-behavior: smooth;
}

body {
    padding: 10px;
    height: 700px;
    background-color: #b6b6b6;
    min-width: 270px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button {
    cursor: pointer;
}

button {}

header {
    width: 100%;
    height: 10%;
    background-color: #0000005d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonTema {
    display: flex;
}

.buttonTema button,
#abrirInfo {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 2px solid #0000002f;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region dark mode */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.dark-icon {
    rotate: 360deg;
}

.dark-sectionBefore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 24, 32, 0.7);
    /* Preto com 50% de opacidade */
    box-shadow: inset 0 0 10px 10px #000000;
    z-index: -1;
    /* Coloca o pseudo-elemento por baixo */
    transition: all 0.5s ease-in-out;
}

/* #endregion */

main {
    background-image: url('https://media.giphy.com/media/k754IRFqfiMi4/giphy.gif');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* Necessário para posicionar o pseudo-elemento */
    position: relative;
    /* Para garantir que o conteúdo fique acima da imagem */
    z-index: 1;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b6b6b6b3;
    box-shadow: inset 0 0 10px 10px #b6b6b6;
    z-index: -1;
    /* Coloca o pseudo-elemento por baixo */
    transition: all 0.5s ease-in-out;
}

main .cookie {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #imgCookie {
    cursor: pointer;
    width: 200px;
    border-radius: 100%;
    box-shadow: inset 0 0 10px 10px #00000010;
    animation: imgCookieGirando 1s infinite;
    transition: all 0.05s ease-in-out;
}

main #imgCookie:active {
    width: 250px;
    transition: all 0.1s ease-in-out;
}

@keyframes imgCookieGirando {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

main p span {
    font-size: 30px;
}

aside {
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    max-height: 700px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Para garantir que o conteúdo fique acima da imagem */
    z-index: 2;
    overflow-y: scroll;
    transition: all 1s ease-in-out;
}

.abrindoAside {
    left: 70%;
    transition: all 1s ease-in-out;
}

.buttonsInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

aside #buttonInformacao,
aside #buttonHabilidade,
aside #buttonConquista,
#fecharInfo {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #0000002f;
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

aside #buttonInformacao:hover,
aside #buttonHabilidade:hover,
aside #buttonConquista:hover,
#fecharInfo:hover {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 120px;
    font-size: 45px;
}

aside #buttonInformacao,
#buttonConfig,
#fecharInfo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside #buttonInformacao:hover,
#fecharInfo:hover {
    width: 60px;
    height: 60px;
    font-size: 25px;
}

.informacoes {
    position: fixed;
    top: 0;
    left: -40%;
    background-color: rgba(255, 255, 255, 0.25);
    width: 30%;
    min-width: 100px;
    max-height: 700px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    transition: all 1s ease-in-out;
    z-index: 2;
}

.abrindoInformacoes {
    left: 0;
    transition: all 1s ease-in-out;
}

h1 {
    text-align: center;
}

.informacoes h1 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: left;
}

.informacoes p {
    font-size: 40%;
}

.informacoes .divX {
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: center;
}

.configuracoes-descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.configuracoes-descricao h1 {
    margin: 0;
}

.configuracoes-descricao span {
    font-size: 20px;
}

.configuracoes-descricao input {
    padding: 0;
    border-radius: 10px;
    width: 70%;
    height: 30px;
    transition: all 0.5s ease-in-out;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 26px;
    border-radius: 10px;
    background: rgb(194, 139, 76);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:active {
    background: rgb(146, 101, 50);
    cursor: grab;
}


input[type=file] {
    opacity: 0;
    inset: 0;
    position: absolute;
    cursor: alias;
}

.configuracoes-descricao button {
    border-radius: 10px;
    width: 70%;
    height: 30px;
    transition: all 0.5s ease-in-out;
}

.configuracoes-descricao button:hover {
    background-color: #943939;
    color: #cfcfcf;
    transition: all 0.2s ease-in-out;
}

.informacoes .divX #xConfig,
aside .informacoes .divX #x,
aside .informacoes .divX #xHabilidade,
aside .informacoes .divX #xConquista {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 2px solid #0000002f;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .informacoes .conquista,
aside .informacoes .habilidade {
    cursor: pointer;
    display: flex;
    filter: blur(7px);
    align-items: center;
    border: 2px solid #0000002f;
}

aside .informacoes .conquista img,
aside .informacoes .habilidade img {
    filter: saturate(0);
    width: 50px;
    height: auto;
}

.conquista-descricao {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.conquista-descricao h1,
.habilidade-descricao h1 {
    margin: 0;
    font-size: 24px;
}

aside .informacoes .conquista p {
    height: auto;
    font-size: 20px;
    color: #cfcfcf;
}

.habilidade-descricao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

aside .informacoes .habilidade p {
    height: auto;
    font-size: 20px;
}

aside #dinheiro,
aside #pontuacao {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: 40px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

input {
    border: none;
    border-radius: 10px;
    height: 20px;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
}

form button {
    background-color: rgba(255, 255, 255, 0.5);
    height: 20px;
    width: 100%;
    padding: 10px;
    border: 2px solid #0000002f;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

footer {
    text-align: center;
    color: #b6b6b6b3;
}

@media screen and (max-width: 600px) {
    aside {
        align-items: stretch;
        background-color: rgba(83, 83, 83, 0.8);
    }

    .abrindoAside {
        left: 0;
    }

    .informacoes {
        /* left: -150%; */
        left: 0;
        top: -100%;
        width: 100%;
        margin: 0;
    }

    .abrindoInformacoes {
        top: 0;
    }

    aside #buttonInformacao,
    aside #buttonHabilidade,
    aside #buttonConquista,
    #fecharInfo {
        font-size: 20px;
        height: 50px;
    }

    aside #buttonInformacao:hover,
    aside #buttonHabilidade:hover,
    aside #buttonConquista:hover,
    #fecharInfo:hover {
        font-size: 30px;
        width: 90%;
    }

    aside #buttonInformacao:hover,
    #fecharInfo:hover {
        width: 50px;
        height: 50px;
    }

    aside .informacoes .habilidade p {
        font-size: 20px;
    }
}